/*BAUHAUS*/

#bauhaus {
	top: 0;
	left: 3050px;
	//.bauhaus {
	//	width: 732px;
	//	height: 600px;
	//	position: absolute;
	//	top: 50%;
	//	left: 50%;
	//	margin: -300px 0 0 -366px;
	//}
}

/* HOME */

#home {
	bottom: 350px;
	left: 1195px;
}

#we {
	top: -345px;
	left: 4505px;
}

/*PICSART*/

#picsart {
	top: 10px;
	left: 2825px;
}


/* WHAT */

#what {
	bottom: -20px;
	left: 3000px;

	.what {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	//.what {
	//	width: 955px;
	//	height: 600px;
	//	position: absolute;
	//	top: 40%;
	//	left: 50%;
	//	margin: -350px 0 0 -577px;
	//}
}


/*NETF*/

#netf {
	top: 0;
	left: 1050px;
	//.netf {
	//	width: 732px;
	//	height: 600px;
	//	position: absolute;
	//	top: 50%;
	//	left: 50%;
	//	margin: -300px 0 0 -366px;
	//}
}
