* {
	box-sizing: border-box;
	&::after, &::before {
		box-sizing: border-box;
	}
}


html, body {
	width: 100%;
	height: 100%;
	min-width: 955px;
	min-height: 600px;
	-webkit-font-smoothing: antialiased;
}

body {
	line-height: 1;
	background: #f9f9f9 0 0 repeat;
	width: 100%;
	height: 100%;
	//opacity: 0.1;
}

#content {
	background-color: #f9f9f9;
	margin-top: 0;
	margin-left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
}


/* JavaScript Turned Off */

.no-js {
	#loader-wrapper {
		display: none;
	}
	h1 {
		color: #222222;
	}
}


#main-nav .btn_home:hover {
	a {
		-webkit-transition: 0.70s;
		-moz-transition: 0.70s;
		-ms-transition: 0.70s;
		-o-transition: 0.70s;
		transition: 0.70s;
		transform-origin: 5% 30%;
		animation-iteration-count: 1;
		width: 56px;
		height: 60px;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.icon-work {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 50%;
	right: 60px;
	z-index: 200;
	&:hover {
		.menu_servizi.a-link {
			img {
				transition: 0.70s;
				-webkit-transition: 0.70s;
				-moz-transition: 0.70s;
				-ms-transition: 0.70s;
				-o-transition: 0.70s;
				//transform-origin: 5% 30%;
				animation-iteration-count: 1;
				//width: 56px;
				//height: 60px;
				-webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
	}
}

.social-share {
	* {
		box-sizing: border-box;
	}
	position: absolute;
	top: 60px;
	right: 53px;
	z-index: 200;

	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);

	&:hover {
		.dots {
			//display: none;
			visibility: hidden;
			opacity: 0;
		}
		.links {
			visibility: visible;
			opacity: 1;
		}
	}
	.butt-share {
		display: block;
		vertical-align: middle;
		font-size: 11px;
		line-height: 1.624;
		font-family: "Montserrat";
		color: #bd9663;
		font-weight: bold;
		cursor: pointer;
		letter-spacing: 1.2px;
		width: 60px; // 112.433px;
		position: relative;
	}
	.share {
		display: block;
		height: 24px;
		vertical-align: middle;
		//margin-
		padding-top: 3px;
		&:hover {
			vertical-align: middle;
		}

	}
	.dots {
		position: absolute;
		top: 0;
		right: -48px;
		display: inline-block;
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.7s linear;
		vertical-align: middle;
		font-size: 0;
		.dot {
			text-align: center;
			vertical-align: middle;
			font-size: 11px;
			line-height: 1.624;
			width: 24px;
			height: 24px;
			padding: 3px 4px 3px 3px;
			display: inline-block;
			color: #bd9663;
			& + .dot {
				margin-left: 3px;
			}
		}
	}

	.links {
		position: absolute;
		top: 0;
		right: -48px;
		display: inline-block;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.7s linear;
		vertical-align: middle;
		font-size: 0;
		a {
			position: relative;
			width: 24px;
			height: 24px;
			font-size: 11px;
			line-height: 1.624;
			padding: 3px 4px 3px 3px;
			display: inline-block;
			vertical-align: middle;
			& + a {
				margin-left: 3px;
			}
			&:before {
				content: "";
				position: absolute;
				width: 200%;
				height: 200%;
				top: -50%;
				left: -50%;
				z-index: -1;
				background: center center no-repeat;
				-webkit-transform: rotate(270deg);
				-moz-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				transform: rotate(270deg);
			}
			&.facebook {
				&:before {
					background-image: url("../img/facebook.png");
				}
			}
			&.instagram {
				&:before {
					background-image: url("../img/instagram.png");
				}
			}
			&.linkedin {
				&:before {
					background-image: url("../img/linkedin.png");
				}
			}
		}
	}
}