.home {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	.items__item {
		position: relative;
	}
}

.changeOrientation {
	position: fixed;
	z-index: 1000000;
	background-color: $colorMainBG;
	color: $colorDark;
	font-size: 20px;
	line-height: 1.5;
	padding: 20px;
	text-align: center;
	display: none;
	align-items: center;
	align-content: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	&.show {
		display: flex;
	}
}

#home #footer {
	position: fixed;
	right: 73px;
	left: 65px;
	bottom: 30px;
	.footerTextLeft {
		font-size: $fszSmaller;
		@extend .fontMontserrat;
		@extend .transformMatrixOne;
		color: $color9;
		float: left;
		text-align: left;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.549;
		letter-spacing: 1px;
		span + span {
			margin-left: 15px;
		}
	}
	.footerTextRight {
		font-size: $fszSmaller;
		@extend .fontMontserrat;
		@extend .transformMatrixOne;
		color: $color10;
		float: right;
		text-align: right;
		display: block;
		letter-spacing: 1px;
		line-height: 1.949;
		font-weight: bold;
	}
}




/* letters */

.items__layerD .items__item {
	top: -790px;
	left: 120px;
	width: 46px;
	height: 72px;
	background: url(../img/d.png) 0 0 no-repeat;
}

.items__layerA .items__item {
	top: -450px;
	left: 390px;
	width: 47px;
	height: 51px;
	background: url(../img/a.png) 0 0 no-repeat;
	filter: alpha(opacity = 0);
	z-index: 50;
}

.items__layerS .items__item {
	top: -360px;
	left: 630px;
	width: 34px;
	height: 51px;
	background: url(../img/s.png) 0 0 no-repeat;
}

.items__layerK .items__item {
	top: 160px;
	left: -430px;
	width: 30px;
	height: 52px;
	background: url(../img/k.png) 0 0 no-repeat;
}

.items__layerO .items__item {
	top: -450px;
	left: 410px;
	width: 53px;
	height: 57px;
	background: url(../img/o.png) 0 0 no-repeat;
}

.items__layerN .items__item {
	top: 200px;
	left: 2000px;
	width: 44px;
	height: 81px;
	background: url(../img/n.png) 0 0 no-repeat;
}

.items__layerC .items__item {
	top: 380px;
	left: -650px;
	width: 40px;
	height: 53px;
	background: url(../img/c.png) 0 0 no-repeat;
}

.items__layerE .items__item {
	top: 1290px;
	left: 300px;
	width: 38px;
	height: 51px;
	background: url(../img/e.png) 0 0 no-repeat;
}

.items__layerP .items__item {
	top: 480px;
	left: -550px;
	width: 35px;
	height: 55px;
	background: url(../img/p.png) 0 0 no-repeat;
}

.items__layerT .items__item {
	top: 960px;
	left: 760px;
	width: 39px;
	height: 27px;
	background: url(../img/t.png) 0 0 no-repeat;
}

.items__layerdrap .items__item {
	top: 50px;
	left: -470px;
	width: 940px;
	height: 476px;
	background: url(../img/drap-home.jpg) 0 0 no-repeat;
	z-index: 1;
	opacity: 0.5;
}
//
//#home {
//	* {
//		box-sizing: border-box;
//	}
//}

.homeText {
	font-size: $fszSmall;
	@extend .fontMontserrat;
	color: $color10;
	font-weight: bold;
	line-height: 1.786;
	//-moz-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	//-webkit-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	//-ms-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	//transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	letter-spacing: 6px;
	padding-left: 10px;
	width: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
}

.design {
	width: 32px;
	height: 107px;
	margin-left: 20px;
	position: absolute;
	margin-top: 65px;
	z-index: 200;
}

.and {
	width: 49px;
	height: 30px;
	margin-left: 40px;
	position: absolute;
	margin-top: 37px;
	z-index: 200;
}

.create {
	width: 188px;
	height: 30px;
	margin-left: 20px;
	position: absolute;
	margin-top: 38px;
	z-index: 200;
}

.items__layerC {
	.createText {
		@extend .homeText;
		margin-left: 20px;
	}
	.createUnderline {
		//left: 170px;
		//top: 357px;
		//bottom: unset;
		margin-left: 0;
		background-color: $color8;
		height: 1px;
		width: 0;
		margin-top: 14px;
	}
}

.items__layerA {
	.andText {
		@extend .homeText;
		margin-left: 10px;
	}
	.andUnderline {
		margin-left: 0;
		background-color: $color8;
		height: 1px;
		width: 0;
		margin-top: 14px;
	}
}

.items__layerD {
	.design {
		@extend .transformRotate270;
		margin-left: 20px;
		text-align: left;
	}
	.designText {
		@extend .homeText;
		margin-top: 20px;
		margin-left: 0;
		padding-left: 4px;
	}
	.designUnderline {
		margin-left: 0;
		background-color: $color8;
		height: 1px;
		width: 0;
		margin-top: 88px;
	}
}

#home.animate {
	.items__layerC {
		.createText {
			-webkit-animation: homeTextAnimation 1s linear;
			-moz-animation: homeTextAnimation 1s linear;
			animation: homeTextAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		.createUnderline {
			-webkit-animation: createUnderlineAnimation 1s linear;
			-moz-animation: createUnderlineAnimation 1s linear;
			animation: createUnderlineAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.items__layerA {
		.andText {
			-webkit-animation: andTextAnimation 1s linear;
			-moz-animation: andTextAnimation 1s linear;
			animation: andTextAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		.andUnderline {
			-webkit-animation: andUnderlineAnimation 1s linear;
			-moz-animation: andUnderlineAnimation 1s linear;
			animation: andUnderlineAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.items__layerD {
		.designText {
			-webkit-animation: designTextAnimation 1s linear;
			-moz-animation: designTextAnimation 1s linear;
			animation: designTextAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		.designUnderline {
			-webkit-animation: designUnderlineAnimation 1s linear;
			-moz-animation: designUnderlineAnimation 1s linear;
			animation: designUnderlineAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
}

@media (max-width: 1024px) {
	#home #footer {
		position: absolute;
		left: 30px;
		right: auto;
		bottom: 0;
	}
	#home #footer {
		.footerTextLeft {
			display: none;
		}
		.footerTextRight {
			float: none;
			text-align: left;
		}
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	#home #footer {
		bottom: 40px;
	}
	.mobileHidden {
		display: none;
	}


	.items__layerD .items__item {
		top: -640px;
		left: 120px;
	}

	.items__layerA .items__item {
		top: -280px;
		left: 390px;
	}

	.items__layerS .items__item {
		top: -200px;
		left: 600px;
	}

	.items__layerK .items__item {
		top: 360px;
		left: -430px;
	}

	.items__layerO .items__item {
		top: -240px;
		left: 310px;
	}

	.items__layerN .items__item {
		top: 400px;
		left: 1920px;
	}

	.items__layerC .items__item {
		top: 600px;
		left: -650px;
	}

	.items__layerE .items__item {
		top: 1520px;
		left: 300px;
	}

	.items__layerP .items__item {
		top: 790px;
		left: -600px;
	}

	.items__layerT .items__item {
		top: 1210px;
		left: 650px;
	}

	.items__layerdrap .items__item {
		top: 330px;
		left: -300px;
	}
}


@media (max-width: 600px) and (orientation: portrait) {
	.items__layerD .items__item {
		top: -640px;
		left: 70px;
	}

	.items__layerA .items__item {
		top: -280px;
		left: 290px;
	}

	.items__layerS .items__item {
		top: -200px;
		left: 470px;
	}

	.items__layerK .items__item {
		top: 360px;
		left: -480px;
	}

	.items__layerO .items__item {
		top: -240px;
		left: 230px;
	}

	.items__layerN .items__item {
		top: 400px;
		left: 1780px;
	}

	.items__layerC .items__item {
		top: 600px;
		left: -670px;
	}

	.items__layerE .items__item {
		top: 1520px;
		left: 200px;
	}

	.items__layerP .items__item {
		top: 750px;
		left: -740px;
	}

	.items__layerT .items__item {
		top: 1180px;
		left: 500px;
	}

	.items__layerdrap .items__item {
		top: 290px;
		left: -350px;
	}
}


@media (max-width: 450px) and (orientation: portrait) {
	.items__layerD .items__item {
		top: -710px;
		left: 40px;
		width: 31px;
		height: 50px;
		background-size: 100% auto;
		.design {
			margin-left: 0;
		}
		.designUnderline {
			margin-top: 84px;
		}
		.designText {
			margin-top: 16px;
		}
	}

	.items__layerA .items__item {
		top: -373px;
		left: 156px;
		width: 37px;
		height: 39px;
		background-size: 100% auto;
		.and {
			margin-top: 25px;
		}
		.andText {
			margin-left: 0;
		}
		.andUnderline {
			margin-top: 9px;
		}
	}

	.items__layerS .items__item {
		top: -253px;
		width: 27px;
		height: 41px;
		left: 259px;
		//top: 78px;
		background-size: 100% auto;
	}

	.items__layerK .items__item {
		top: 250px;
		left: -476px;
		width: 23px;
		height: 40px;
		background-size: 100% auto;
	}

	.items__layerO .items__item {
		top: -424px;
		left: 150px;
		width: 41px;
		height: 44px;
		background-size: 100% auto;
	}

	.items__layerN .items__item {
		top: 240px;
		left: 1580px;
		width: 29px;
		height: 53px;
		background-size: 100% auto;
	}

	.items__layerC .items__item {
		top: 337px;
		left: -672px;
		width: 31px;
		height: 43px;
		background-size: 100% auto;
		.create {
			margin-top: 28px;
		}
		.createText {
			margin-left: 10px;
		}
		.createUnderline {
			margin-top: 9px;
		}

	}

	.items__layerE .items__item {
		top: 1245px;
		left: 115px;
		width: 27px;
		height: 35px;
		background-size: 100% auto;
	}

	.items__layerP .items__item {
		top: 420px;
		left: -880px;
		width: 23.5px;
		height: 37px;
		background-size: 100% auto;
	}

	.items__layerT .items__item {
		top: 865px;
		left: 290px;
		width: 30px;
		height: 	22px;
		background-size: 100% auto;
	}

	.items__layerdrap .items__item {

		top: 120px;
		left: -500px;
		width: 880px;
		background-size: 100% auto;
	}
}