.how {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.items {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.items__inner {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			.layer {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@keyframes increaseWidth {
	0% {width: 0%;}
	100% {width: 100%; visibility: visible;}
}
@keyframes increaseWidthYouCan {
	0% {width: 0;}
	100% {width: 120px; visibility: visible;}
}
@keyframes increaseWidthForever {
	0% {width: 0;}
	100% {width: 121px; visibility: visible; overflow: visible;}
}
@keyframes slideToLeft {
	0% {left: calc(50% - 167px);}
	100% {left: -1000px; display: none;}
}
@keyframes displayDavid {
	0% {display: none;}
	100% {display: block}
}
@keyframes strike {
	from { text-decoration-color: transparent; }
	to { text-decoration-color: #bd9663; }
}
@keyframes increaseWidthEver {
	0% {width: 0;}
	100% {width: 46px; visibility: visible; overflow: visible;}
}

.dcvWrapper {
	display: block; //block;
	width: 335px;
	//margin: 10px auto;
	position: absolute;
	height: 540px;
	left: calc(50% - 167px);
	top: 10px;
	//margin-left: -50%;

	.credo {
		display: block;
		font-size: 39.269px;
		font-family: "Maven Pro";
		color: rgba(188, 150, 99, 0.749);
		font-weight: bold;
		line-height: 1.5279; //1.986;
		white-space: nowrap;
		width: 0;
		overflow: hidden;
		visibility: hidden;
		i {
			font-size: 0;
		}
		&.dark {
			color: rgba(188, 150, 99, 0.749);;
			background: -webkit-linear-gradient(#a38763, #b3a380);
			background: -moz-linear-gradient(#a38763, #b3a380);
			background: linear-gradient(#a38763, #b3a380);
			-webkit-background-clip: text;
			-webkit-text-fill-color: rgba(188, 150, 99, 0.749);
		}
		&.middle {
			color: #b3a380;
			background: -webkit-linear-gradient(#d6bd9e, #e5d4bd);
			background: -moz-linear-gradient(#d6bd9e, #e5d4bd);
			background: linear-gradient(#d6bd9e, #e5d4bd);
			-webkit-background-clip: text;
			-webkit-text-fill-color: #b3a380;
		}
		&.light {
			color: #e5d4bd;
			background: -webkit-linear-gradient(#f0e2cf, #f0e2cf);
			background: -moz-linear-gradient(#f0e2cf, #f0e2cf);
			background: linear-gradient(#f0e2cf, #f0e2cf);
			-webkit-background-clip: text;
			-webkit-text-fill-color: #e5d4bd;
		}
		&.designs {
			letter-spacing: 41.6px;
		}
		&.creates {
			letter-spacing: 32.7px;
		}
		&.culture {
			letter-spacing: 32.8px;
		}
		&.shapes {
			letter-spacing: 40.3px;
		}
		&.value {
			letter-spacing: 57.4px;
		}
		&.defines {
			letter-spacing: 32.7px;
		}
		&.future {
			letter-spacing: 42.1px;
		}
	}
	$animationDelayBase: 1s;
	&.animate.one {
		overflow-y: hidden;
		.credo {
			//display: flex;
			//justify-content: space-between;
			//align-items: stretch;
			animation-name: increaseWidth;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			animation-direction: normal;
			animation-delay: 2s;
			span {
				text-align: center;
				display: inline-block;
			}
			&.designs {
				animation-delay: 1 * $animationDelayBase;
			}
			&.creates {
				animation-delay: 2 * $animationDelayBase;
			}
			&.culture.one {
				animation-delay: 3 * $animationDelayBase;
			}
			&.culture.two {
				animation-delay: 4 * $animationDelayBase;
			}
			&.shapes {
				animation-delay: 5 * $animationDelayBase;
			}
			&.value.one {
				animation-delay: 6 * $animationDelayBase;
			}
			&.value.two {
				animation-delay: 7 * $animationDelayBase;
			}
			&.defines {
				animation-delay: 8 * $animationDelayBase;
			}
			&.future {
				animation-delay: 9 * $animationDelayBase;
			}
		}
	}
	&.animate.one.two {
		.credo {
			&.designs, &.shapes, &.future {
				&.dark, &.middle, &.light {
					color: #ec2327 !important;
					background: none;
					background: none;
					background: none;
					-webkit-background-clip: border-box;
					-webkit-text-fill-color: #ec2327;
				}
			}
			&.value, &.creates, &.culture, &.defines {
				&.dark, &.middle, &.light {
					background: none;
					-webkit-background-clip: border-box;
					-webkit-text-fill-color: currentcolor;
					opacity: 0.3;
				}
			}
		}
	}
	&.animate.one.two.three {
		animation: slideToLeft;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-direction: normal;
	}
}

.davidText {
	font-size: 13px;
	font-weight: 500;
	font-family: "Montserrat", Verdana, Geneva, sans-serif;
	font-style: normal;
	color: rgb(144, 136, 120);
	line-height: 1.636;
	letter-spacing: 1px;
}
$shift: 1000px;
.david {
	position: relative;
	margin: 50px auto;
	width: 447px;
	height: 667px;
	.frame {
		width: 431px;
		height: 499px;
		background: url("../img/frame-david.png") 0 0 no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		//visibility: hidden;
	}
	.davidImage {
		width: 447px;
		height: 667px;
		background: url("../img/david.png") 0 0 no-repeat;
		position: absolute;
		top: -101px;
		left: ($shift + 30px);
	}
	.letter {
		position: absolute;
		&.H {
			width: 50px;
			height: 59px;
			top: 74px;
			left: (-$shift - 27px);
			background: url("../img/letter-H.png") 0 0 no-repeat;
		}
		&.E {
			width: 40px;
			height: 59px;
			top: 171px;
			right: ($shift + 2px);
			background: url("../img/letter-E.png") 0 0 no-repeat;
		}
		&.R {
			width: 52px;
			height: 59px;
			top: 327px;
			left: (-$shift - 21px);
			background: url("../img/letter-R.png") 0 0 no-repeat;
		}
		&.O {
			width: 57px;
			height: 61px;
			top: 397px;
			right: (-$shift - 3px);
			background: url("../img/letter-O.png") 0 0 no-repeat;
		}
	}
	.youCan {
		position: absolute;
		left: -123px;
		top: 30px;
		@extend .davidText;
		width: 0;
		overflow: hidden;
		visibility: hidden;
		height: 22px;
	}
	.justForever {
		position: absolute;
		right: -170px;
		bottom: 230px;
		@extend .davidText;
		width: 121px;
		.justFor {
			width: 0;
			overflow: hidden;
			visibility: hidden;
			height: 22px;

		}
		.oneDay {
			color: rgb(189, 150, 99);
			text-decoration: line-through;
			text-decoration-color: transparent;
		}
		.ever {
			position: absolute;
			right: -50px;
			top: 6px;
			font-size: 33px;
			@extend .fontSignPainter;
			color: rgb(189, 150, 99);
			line-height: 0.857;
			//-moz-transform: matrix( 1.63778474176922,0,0,1.63591767274874,0,0);
			//-webkit-transform: matrix( 1.63778474176922,0,0,1.63591767274874,0,0);
			//-ms-transform: matrix( 1.63778474176922,0,0,1.63591767274874,0,0);
			width: 0;
			overflow: hidden;
			visibility: hidden;
			height: 29px;
		}
	}
}

.davidWrapper {
	display: none;
	width: 100%;
	height: 100%;
	&.show {
		display: block;
		.david {
			.youCan {
				-webkit-animation: increaseWidthYouCan;
				-o-animation: increaseWidthYouCan;
				animation: increaseWidthYouCan;
				animation-direction: normal;
				animation-delay: 2.2s;
				animation-duration: 2s;
				animation-fill-mode: forwards;
			}
			.justFor {
				-webkit-animation: increaseWidthForever;
				-o-animation: increaseWidthForever;
				animation: increaseWidthForever;
				animation-direction: normal;
				animation-delay: 2.6s;
				animation-duration: 2s;
				animation-fill-mode: forwards;
			}
			.oneDay {
				-webkit-animation: strike;
				-o-animation: strike;
				animation: strike;
				animation-direction: normal;
				animation-duration: 2s;
				animation-fill-mode: forwards;
				animation-delay: 4.6s;
			}
			.ever {
				-webkit-animation: increaseWidthEver;
				-o-animation: increaseWidthEver;
				animation: increaseWidthEver;
				animation-direction: normal;
				animation-delay: 5.6s;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
		}
	}
}
