
/* ==========================================================================
MENU

   ========================================================================== */


.menuItem {
	position: fixed;
	padding: 0;
	left: -100px;
	width: 80px;
	display: block;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	text-align: center;
}

.posmenu {
	position: absolute;
	top: 400px;
	li {
		@extend .menuItem;
	}
}

.tabhome {
	margin-top: -90px;
}

.tabwhat {
	margin-top: -174px;
}

.tabwe {
	margin-top: -248px;
}

.tabhow {
	margin-top: -316px;
}

.tabwhere {
	margin-top: -402px;
}
