/*
 * MENU
 */

#main-nav {
	width: 98px;
	height: 99px;
	background: 0 0 no-repeat;
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 900;
	.btn_home {
		display: block;
		position: absolute;
		top: 0;
		margin-top: -100px;
		margin-left: 30px;
		left: 0;
		width: 46px;
		height: 50px;
		a {
			display: block;
			width: 46px;
			height: 50px;
		}
		&:hover {
			a {
				@extend .transition_07s;
				@extend .transformRotate360;
				transform-origin: 5% 30%;
				animation-iteration-count: 1;
				width: 56px;
				height: 60px;
			}
		}
	}
	ul {
		position: relative;
		width: 180px;
		margin: 230px 0 0 10px;
		li {
			color: $colorRed;
			@extend .fontMontserrat;
			text-align: center;
			font-weight: 700;
			font-size: $fszSmall;
			/*margin-bottom:12px;*/
			height: 29px;
			letter-spacing: 3px;
			cursor: pointer;
			a {
				text-decoration: none;
				color: $colorMainNavLink;
				height: 29px;
				display: block;
				&:hover, &.active {
					color: $color2;
					background: center 11px no-repeat;
				}
			}
		}
	}
	.fb {
		position: absolute;
		bottom: 18px;
		left: 79px;
	}
	.tw {
		position: absolute;
		bottom: 18px;
		left: 111px;
	}
}

.menuItem {
	@extend .transformRotateMinus90;
	display: block;
	position: fixed;
	padding: 0;
	left: -100px;
	width: 80px;
	text-align: center;
}

.posmenu {
	position: absolute;
	top: 400px;
	li {
		@extend .menuItem;
	}
}

.tabhome {
	margin-top: -90px;
}

.tabwhat {
	margin-top: -174px;
}

.tabwe {
	margin-top: -248px;
}

.tabhow {
	margin-top: -316px;
}

.tabwhere {
	margin-top: -402px;
}
