.munich-overlay, .milan-overlay {
	display: block;
	position: absolute;
	left: -200px;
	right: -200px;
	border: 800px solid #f9f9f9;
	border-radius: 800px;
	background-color: transparent;
	z-index: 1;
}

.munich-overlay {
	top: -285.5px !important;
	bottom: -285.5px !important;
}

.milan-overlay {
	top: -156.5px !important;
	bottom: -156.5px !important;
}

.box {
	max-width: 70vw;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	font-size: 30px;
	line-height: 1.5;
	transform: translateY(-50%);
	perspective: 400px;
	min-height: 400px;
	.split {
		position: relative;
	}
	span {
		position: absolute;
	}
}

.items__layerC {
	.textSVG {
		width:158px;
		height: 50px;
		margin-left: 36px;
	}
}

.items__layerD {
	.textSVG {
		height: 50px;
		width: 130px;
		transform: rotate(270deg);
	}
}

.items__layerA {
	.textSVG {
		height: 50px;
		width: 40px;
		margin-left: 20px;
	}
}

.underline {
	//background-color: #ac998c;
	height: 1px;
	border: none;
	width: 146px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin-left: -700px;
	.underlineSVG {
		position: absolute;
		margin-left: 0;
		top: 0px;
		left: 0;
	}
	&.dream {
		transform: rotate(270deg);
		width: 89px;
		height: 2px;
		bottom: 100px;
	}
	&.and {
		width: 42px;
		height: 1.5px;
		.underlineSVG {
			left: 5px;
		}
	}
}


.social-share {
	position: absolute;
	top: 100px;
	right: -20px;
	z-index: 200;
	&:hover {
		.socials {
			opacity: 1;
		}
	}

	-moz-tansform: matrix( 0,0.99873758742552,-0.98442950686724,0,0,0);
	-webkit-transform: matrix( 0,0.99873758742552,-0.98442950686724,0,0,0);
	-ms-transform: matrix( 0,0.99873758742552,-0.98442950686724,0,0,0);
	transform: matrix( 0,0.99873758742552,-0.98442950686724,0,0,0);

	.butt-share {
		display: inline-block;
		vertical-align: middle;
		font-size: 11px;
		font-family: "Montserrat";
		color: #bd9663;
		font-weight: bold;
		line-height: 1.624;
		cursor: pointer;
		letter-spacing: 1.2px;

		.dots {
			display: inline;
			color: #bd9663;
			letter-spacing: 2px;
			margin-left: 5px;
		}
		&:hover, &:focus, &:active {
			color: #bd9663;
			.dots {
				color: #bd9663;
			}
		}
		&:hover ~ .socials {
			opacity: 1;
		}
	}
	.socials {
		opacity: 0;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			opacity: 1;
		}
		li {
			display: inline-block;
			& + li {
				margin-top: 5px;
			}
			a {
				position: relative;
				width: 23px;
				height: 24px;
				padding: 3px;
				display: block;
				&:before {
					content: "";
					position: absolute;
					width: 200%;
					height: 200%;
					top: -50%;
					left: -50%;
					z-index: -1;
					background: center center no-repeat;
					-webkit-transform: rotate(270deg);
					-moz-transform: rotate(270deg);
					-ms-transform: rotate(270deg);
					transform: rotate(270deg);
				}
				&.facebook {
					&:before {
						background-image: url("../img/facebook.png");
					}
				}
				&.instagram {
					&:before {
						background-image: url("../img/instagram.png");
					}
				}
				&.linkedin {
					&:before {
						background-image: url("../img/linkedin.png");
					}
				}
			}
		}
	}

}



