#bauhaus {
	position: absolute;
	@extend .sliderSize;
	display: flex !important;
	align-items: center;
}
.slider {
	* {
		box-sizing: border-box;
	}
	position:relative;
	margin:0 auto;
	top:0px;
	left:0px;
	background-color: $colorMainBG;
	@extend .sliderSize;
	//overflow:hidden;
	visibility:hidden;
	.awardsIpad {
		background: url("../img/slider/awards-ipad.png") 0 0 no-repeat;
		background-size: 100% 100%;
		padding: 3.5% 17.4% 8.4% 10%;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			display: block;
		}
	}
	.sliderSpin {
		position:absolute;
		top:0px;
		left:0px;
		@extend .sliderSize;
		text-align:center;
		background-color:rgba(0, 0, 0, 0.7);
	}
	.spinImg {
		margin-top:-19px;
		position:relative;
		top:50%;
		width:38px;
		height:38px;
		animation-name: sliderSpinAnimation;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.slides {
		cursor:default;
		position:relative;
		top:0px;
		left:0px;
		@extend .sliderSize;
		display: flex;
		align-items: center;
		overflow:hidden;
	}
	.captionWrapper {
		position:absolute;
		top:0px;
		left:0px;
		@extend .sliderSize;
		overflow:hidden;
	}
	.captionBackground {
		position:absolute;
		top:25px;
		left:150px;
		width:250px;
		height:250px;
		overflow:hidden;
		background-color:rgba(40, 177, 255, 0.6);
	}
	.caption {
		position:absolute;
		top:10%;
		left:20%;
		width:40%;
		height:40px;
		font-family:Oswald, sans-serif;
		font-size:32px;
		font-weight:200;
		line-height:1.2;
		text-align:center;
		background-color:rgba(255, 188, 5, 0.8);
		&.first {
			top:320px;
			left:30px;
			width:500px;
			height:40px;
		}
		&.second {
			top:-50px;
			left:125px;
			width:500px;
			height:40px;
		}
		&.third {
			top:30px;
			left:-505px;
			width:500px;
			height:40px;
		}
		&.fourth {
			position:absolute;
			top:30px;
			left:30px;
			width:500px;
			height:40px;
		}
		&.fifth {
			position:absolute;
			top:30px;
			left:30px;
			width:500px;
			height:40px;
		}
	}

	.bullets {
		position:absolute;
		left: -43px;
		bottom: 60px; // 57px;
		z-index: 2;
		.i {
			position:absolute;
			cursor:pointer;
			width:10px;
			height:10px;
			&.idn {
				opacity:.3;
			}
			&:hover {
				.b {
					fill: #bd956a;
					fill-opacity:1;
				}
			}
			.b {
				fill: $colorMainBG;
				fill-opacity:1;
			}
		}
		.iav {
			.b {
				fill: #bd956a;
				fill-opacity: 1;
			}
		}
		svg {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}

	.arrow {
		position: absolute;
		left: -43px;
		display: block;
		width: 10px;
		height: 16px;
		cursor: pointer;
		svg {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display: none;
		}
		&.left {
			top: 3px;
			background: url("../img/slider/arrow-left.png") 0 0 no-repeat;
		}
		&.right {
			top: 44px;
			background: url("../img/slider/arrow-right.png") 0 0 no-repeat;
		}
	}
	.clientName {
		position: absolute;
		text-transform: uppercase;
		text-align: center;
		left: -187px;
		top: 0;
		margin-top: -25%;
		width: 300px;
		display: block;
		font-size: $fszSmall;
		letter-spacing: 1.5px;
		@extend .fontMontserrat;
		color: rgb(189, 149, 106);
		font-weight: bold;
		line-height: 2.333;
		transform: rotate(270deg);
	}
}

@keyframes sliderSpinAnimation {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
	.slider {
		.bullets {
			//bottom: 60px !important;
			//left: 25% !important;
			//transform: rotate(270deg) !important;
		}
		.arrow {
			&.left {

			}
			&.right {

			}
		}
	}
}
//
//
///*jssor slider arrow skin 053 css*/
//.jssora053 {display:block;position:absolute;cursor:pointer;}
//.jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
//.jssora053:hover {opacity:.8;}
//.jssora053.jssora053dn {opacity:.5;}
//.jssora053.jssora053ds {opacity:.3;pointer-events:none;}