//.slidenet, .slidebau {
//	margin-top: -140px;
//	margin-left: -340px;
//}
//
//.buttnet {
//	width: 200px;
//	height: 100px;
//	top: 5px;
//	left: 0;
//	margin-left: -20px;
//	z-index: 1000;
//}
//
//.descrizione {
//	width: 70%;
//	margin-top: 495px;
//	font-family: 'Montserrat', sans-serif;
//	left: 50%;
//	margin-left: -290px;
//	color: #bc9663;
//	letter-spacing: 2px;
//	white-space: normal; // 23 px previously
//	line-height: 1.5em;
//	font-size: 10px;
//	text-align: right;
//	-webkit-transform: rotate(-90deg);
//	transform: rotate(-90deg);
//}
//
//.net {
//	width: 100%;
//	height: 380px;
//	position: absolute;
//	top: 55px;
//	left: 0;
//	margin-left: -720px;
//}
//
//.culture {
//	width: 410px;
//	height: 295px;
//	margin-left: -70px;
//	position: absolute;
//	background-image: url(../img/img-culture.jpg);
//	margin-top: -673px;
//	z-index: 20;
//}
//
//.value {
//	width: 504px;
//	height: 521px;
//	margin-left: 1167px;
//	position: absolute;
//	background-image: url(../img/img-value.jpg);
//	margin-top: -33px;
//	z-index: 10;
//}
//
//.future {
//	width: 449px;
//	height: 288px;
//	margin-left: 530px;
//	position: absolute;
//	background-image: url(../img/img-future.jpg);
//	margin-top: 823px;
//	z-index: 5;
//}
//
//.david {
//	width: 860px;
//	height: 667px;
//	margin-left: 1680px;
//	position: absolute;
//	background-image: url(../img/david.jpg);
//	margin-top: -50px;
//	z-index: 35;
//	opacity: 0;
//	background-repeat: no-repeat;
//}
//
//.arrow-n {
//	background-image: url(../img/arrow-next.png);
//	background-repeat: no-repeat;
//	position: absolute;
//	margin: auto;
//	left: 0px;
//	margin-left: -138px;
//	padding: 0;
//	margin-top: 513px;
//	width: 10px;
//	height: 16px;
//	text-align: center;
//	z-index: 2;
//}
//
//.arrow-p {
//	background-image: url(../img/arrow-next.png);
//	background-repeat: no-repeat;
//	position: absolute;
//	margin: auto;
//	left: 0px;
//	margin-left: -139px;
//	padding: 0;
//	margin-top: 553px;
//	width: 10px;
//	height: 16px;
//	text-align: center;
//	z-index: 2;
//	-webkit-transform: rotate(180deg);
//	transform: rotate(180deg);
//	text-align: center;
//}

//
//.d-letter {
//	background-image: url(../img/d.png);
//	background-repeat: no-repeat;
//	position: absolute;
//	margin: auto;
//	left: 30px;
//	padding: 0;
//	margin-top: 40px;
//	width: 31px;
//	height: 48px;
//	text-align: center;
//	z-index: 2000;
//}
//
//.d-frase {
//	background-color: #0CC;
//	background-repeat: no-repeat;
//	position: absolute;
//	margin: auto;
//	left: 130px;
//	padding: 0;
//	margin-top: 40px;
//	width: 231px;
//	height: 88px;
//	text-align: center;
//	z-index: 2000;
//	opacity: 0;
//}

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: 0 0 repeat;
	background-color: #f9f9f9;
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote {
	&:before, &:after {
		content: '';
		content: none;
	}
}

q {
	&:before, &:after {
		content: '';
		content: none;
	}
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 955px;
	min-height: 600px;
	-webkit-font-smoothing: antialiased;
}

.clearfix {
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

#wrapper {
	width: 100%;
	height: 100%;
	min-width: 955px;
	min-height: 600px;
	position: absolute;
	overflow: hidden;
	h1 {
		text-align: center;
		font-size: 63px;
		color: #6a5546;
		letter-spacing: -1px;
		font-family: 'sketch_blockbold';
		margin-bottom: -10px;
		text-transform: uppercase;
	}
}

#main-nav {
	width: 98px;
	height: 99px;
	background: 0 0 no-repeat;  // url('') empty, previously
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 900;
	.btn_home {
		display: block;
		position: absolute;
		top: 0;
		margin-top: -100px;
		margin-left: 30px;
		left: 0;
		width: 46px;
		height: 50px;
		a {
			display: block;
			width: 46px;
			height: 50px;
		}
	}
	ul {
		position: relative;
		width: 180px;
		margin: 230px 0 0 10px;
		li {
			text-align: center;
			color: red;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 11px;
			/*margin-bottom:12px;*/
			height: 29px;
			letter-spacing: 3px;
			cursor: pointer;
			a {
				text-decoration: none;
				color: #786d58;
				height: 29px;
				display: block;
				&:hover, &.active {
					color: #bd9663;
					background: center 11px no-repeat; // url('') empty previously
				}
			}
		}
	}
	.fb {
		position: absolute;
		bottom: 18px;
		left: 79px;
	}
	.tw {
		position: absolute;
		bottom: 18px;
		left: 111px;
	}
}
//
//#news_menu {
//	height: 225px;
//	width: 205px;
//	position: absolute;
//	left: 0;
//	bottom: -230px;
//	a {
//		cursor: pointer;
//		display: block;
//		width: 100%;
//		height: 100%;
//		text-decoration: none;
//	}
//	h2 {
//		background: #936a4f;
//		height: 24px;
//		line-height: 24px;
//		padding: 0 15px;
//		color: #fff;
//		font-size: 18px;
//		font-family: 'kg_eyes_wide_openregular';
//		position: absolute;
//		bottom: 0;
//		right: 20px;
//	}
//}

#layout {
	/*width:3465px;*/
	width: 4500px;
	height: 2750px;
	position: relative;
	display: block;
	> section {
		width: 955px;
		height: 600px;
		position: absolute;
		display: block;
	}
}

/* PRIVATE LABEL */

#label {
	bottom: -350px;
	left: -355px;
	.loghi {
		position: absolute;
		top: -550px;
		left: -520px;
	}
	.private {
		width: 100%;
		height: 100%;
		min-width: 955px;
		min-height: 600px;
		position: absolute;
		#container {
			width: 955px;
			height: 600px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -300px 0 0 -477px;
		}
		.private .chiudi_private {
			display: block;
			width: 214px;
			height: 46px;
			background: none; // url('../img/bg_link_hover.png'); cannot resolve
			color: #fff;
			position: relative;
			margin: 0 auto 12px;
			text-align: center;
			font-family: 'road_movieregular';
			line-height: 40px;
			cursor: pointer;
			font-size: 24px;
		}
		h1 {
			text-align: center;
			font-size: 63px;
			color: #6a5546;
			letter-spacing: -1px;
			font-family: 'sketch_blockbold';
			margin-bottom: -10px;
			position: relative;
		}
		ul {
			height: 265px;
			width: 765px;
			display: block;
			margin: 20px auto 0;
			li {
				height: 100%;
				position: relative;
				float: left;
				cursor: pointer;
				img {
					position: relative;
					z-index: 3;
				}
				span {
					background: center center no-repeat; // url('../img/private_link.png') cannot resolve
					position: absolute;
					bottom: 0;
					text-align: center;
					height: 35px;
					line-height: 30px;
					width: 163px;
					font-family: 'road_movieregular';
					font-size: 18px;
					left: 0;
					color: #fff;
				}
				&:hover span {
					background:  center center no-repeat // url('../img/private_link_over.png') not resolved;
				}
				.info {
					position: absolute;
					top: 32px;
					z-index: 4;
					display: none;
					background: center center no-repeat; // url('../img/bg_info_hover.png') not resolved
					width: 74px;
					height: 74px;
					text-align: center;
					line-height: 74px;
					font-size: 18px;
					font-family: 'novecento_widebookbold';
					color: #fff;
					position: absolute;
				}
				&:hover .info {
					display: block;
				}
				&.pasta {
					width: 218px;
					img {
						margin-top: 36px;
					}
					span {
						left: 16px;
					}
					.info {
						right: 9px;
					}
				}
				&.pizza {
					width: 288px;
					margin: 0 -10px 0 28px;
					span {
						left: 38px;
					}
					.info {
						right: 58px;
					}
				}
				&.gelato {
					width: 233px;
					img {
						margin-top: 63px;
					}
					span {
						left: 23px;
					}
					.info {
						right: 14px;
					}
				}
			}
		}
		.certificazioni {
			width: 509px;
			height: 155px;
			margin: 0 auto;
			background:  center top no-repeat; // url('../img/bg_cetificazioni_label.png') not resolved
			position: relative;
			z-index: 2;
			h2 {
				font-family: 'road_movieregular';
				letter-spacing: 12px;
				color: #8b7665;
				font-size: 16px;
				text-align: center;
				padding-top: 67px;
			}
			ol {
				width: 420px;
				margin: 17px auto 0;
				li {
					float: left;
					margin-right: 15px;
					&.last {
						margin-right: 0;
					}
					.cert01 {
						margin-top: 15px;
					}
					.cert02 {
						margin-top: 7px;
					}
					.cert03 {
						margin-top: 14px;
					}
				}
			}
		}
		.lightbox {
			margin: -200px 0 0 -450px;
		}
	}
}

///*PICSART*/
//
//#picsart {
//	top: 10px;
//	left: 2825px;
//}
//
//.pic {
//	width: 110%;
//	height: 380px;
//	position: absolute;
//	top: 5px;
//	left: 0;
//	margin-left: -20px;
//	background-color: #0C6;
//}


/*WE*/
//
//#we {
//	top: -345px;
//	left: 4505px;
//	.we {
//		width: 100%;
//		height: 100%;
//		position: absolute;
//		top: 10%;
//		left: 50%;
//		margin: -68px 0 0 -40px;
//		z-index: 10;
//	}
//}
//
//.biayna {
//	position: absolute;
//	width: 400px;
//	height: 320px;
//	margin-left: 100px;
//	z-index: 500;
//	background-color: #CC0;
//}
//
//.erebouni {
//	position: absolute;
//	width: 400px;
//	height: 320px;
//	margin-left: 400px;
//	z-index: 500;
//	background-color: #3C6;
//}
//
//.giampiero {
//	position: absolute;
//	width: 400px;
//	height: 320px;
//	margin-left: 400px;
//	z-index: 500;
//	background-color: #03C;
//}
//
//
//


@media only screen and (max-width: 1024px) {
	#main-nav {
		left: -20px;
		top: 0;
	}
	/*.lightbox{margin:-250px 0 0 -534px}*/
	#home .home {
		margin: 0;
		left: 164px;
		top: 0;
	}
	#news_menu {
		display: none;
	}
	#comapny .comapny {
		margin-left: 0;
		left: 102px;
	}
	#download .download {
		margin-left: 0;
		left: 190px;
	}
	#news .news {
		margin-left: 0;
		left: 210px;
	}
	#food .food {
		margin-left: 0;
		left: 223px;
	}
	#prodotti {
		.prodotti {
			margin-left: 0;
			left: 155px;
		}
		.dettaglio {
			margin-left: 0;
			left: 190px;
		}
	}
	#wrapper #footer {
		display: none;
	}
	#contatti .contatti {
		margin-left: 0;
		left: 190px;
	}
	.contatti #mappa {
		width: 579px;
		left: 93px;
		background:  center center no-repeat; //url('../img/mappa2.jpg.png') not resolved
	}
}

@media only screen and (max-height: 744px) {
	#news_menu, #home #footer {
		display: none;
	}
}

/* FRASI HOME */
//
//.name {
//	display: flex;
//	margin-top: 33px;
//	margin-left: 40px;
//	position: absolute;
//	&:before {
//		content: '';
//		width: 50%;
//		opacity: 0.3;
//		bottom: 0;
//		height: 1px;
//		left: 0;
//		position: absolute;
//	}
//	.letter {
//		font-family: 'Maven Pro', sans-serif;
//		color: #bc9663;
//		letter-spacing: 6px;
//		font-size: 17px;
//		display: inline-block;
//		opacity: 0;
//		-webkit-transform: scale(0.9);
//		transform: scale(0.9);
//	}
//}
//
//.name2 {
//	display: flex;
//	margin-top: 54px;
//	margin-left: 72px;
//	position: absolute;
//	&:before {
//		content: '';
//		width: 50%;
//		opacity: 0.3;
//		bottom: 0;
//		height: 1px;
//		left: 0;
//		position: absolute;
//	}
//	.letter2 {
//		font-family: 'Maven Pro', sans-serif;
//		color: #bc9663;
//		letter-spacing: 6px;
//		font-size: 17px;
//		display: inline-block;
//		opacity: 0;
//		-webkit-transform: scale(0.9);
//		transform: scale(0.9);
//	}
//}
//
//.name3 {
//	display: flex;
//	margin-top: 33px;
//	margin-left: 52px;
//	position: absolute;
//	&:before {
//		content: '';
//		width: 50%;
//		opacity: 0.3;
//		bottom: 0;
//		height: 1px;
//		left: 0;
//		position: absolute;
//	}
//	.letter3 {
//		font-family: 'Maven Pro', sans-serif;
//		color: #bc9663;
//		letter-spacing: 6px;
//		font-size: 17px;
//		display: inline-block;
//		opacity: 0;
//		-webkit-transform: scale(0.9);
//		transform: scale(0.9);
//	}
//}
//
//.name4 {
//	display: flex;
//	margin-top: 33px;
//	margin-left: 52px;
//	position: absolute;
//	&:before {
//		content: '';
//		width: 50%;
//		opacity: 0.3;
//		bottom: 0;
//		height: 1px;
//		left: 0;
//		position: absolute;
//	}
//	.letter4 {
//		font-family: 'Maven Pro', sans-serif;
//		color: #bc9663;
//		letter-spacing: 6px;
//		font-size: 17px;
//		display: inline-block;
//		opacity: 0;
//		-webkit-transform: scale(0.9);
//		transform: scale(0.9);
//	}
//}
//
//.name5 {
//	display: flex;
//	margin-top: 57px;
//	margin-left: 99px;
//	position: absolute;
//	&:before {
//		content: '';
//		width: 50%;
//		opacity: 0.3;
//		bottom: 0;
//		height: 1px;
//		left: 0;
//		position: absolute;
//	}
//	.letter5 {
//		font-family: 'Maven Pro', sans-serif;
//		color: #bc9663;
//		letter-spacing: 6px;
//		font-size: 17px;
//		display: inline-block;
//		opacity: 0;
//		-webkit-transform: scale(0.9);
//		transform: scale(0.9);
//	}
//}
//
//.name6 {
//	display: flex;
//	margin-top: 80px;
//	margin-left: 64px;
//	position: absolute;
//	&:before {
//		content: '';
//		width: 50%;
//		opacity: 0.3;
//		bottom: 0;
//		height: 1px;
//		left: 0;
//		position: absolute;
//	}
//	.letter6 {
//		font-family: 'Maven Pro', sans-serif;
//		color: #bc9663;
//		letter-spacing: 6px;
//		font-size: 17px;
//		display: inline-block;
//		opacity: 0;
//		-webkit-transform: scale(0.9);
//		transform: scale(0.9);
//	}
//}
