// Font Sizes

$fszBase: 14px;
$fszHuge: 34px;
$fszSmall: 11px;
$fszMiddle: 12px;
$fszLarge: 13px;
$fzsExtraLarge: 39.269px;
$fszSmaller: 9.235px;
$fszTiny: 9px;

// Font Families

$fontMavenPro: "Maven Pro", Arial, Helvetica, sans-serif;
$fontMontserrat: "Montserrat", Verdana, Geneva, sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontGreatVibes: 'Great Vibes', cursive;
$fontSignPainter: "SignPainterHouseScript", sans-serif;
$fontSignPainterReg: "SignPainter HouseScript Regular", sans-serif;

// colors

$colorGold: #bc946a;
$colorMainBG: #f9f9f9;
$colorThumbDescription: #BD9563;
$color2: #BD9663;  // rgb(189, 150, 99)

$colorRed: #ec2327;  // red
$colorDark: #8a5a29;  // dark
$colorMiddle: #d6c0a5;  // middle
$colorLight: #ecdecd;  // light

$color1: #917940;  // rgb(145, 121, 64)
$color3: #908878;  // rgb(144, 136, 120)
$color8: #ac998c;	 // rgb(172, 153, 140)
$color9: #C3AA70;  // rgb(195, 170, 112)
$color10: #816A5C; // rgb(129, 106, 92)
$colorMainNavLink: #786d58; // main nav a
$colorGerman: #c2ab78;

// transforms

.transformRotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.transformRotateMinus90 {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.transformRotate270 {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.transformRotate360 {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.transformMatrixOne {
	-moz-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	-webkit-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	-ms-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
	transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
}
.transformMatrixTwo {
	-moz-transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
	-webkit-transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
	-ms-transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
	transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
}

.transformTranslateX0 {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.transformTranslateX100 {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.transformTranslateXMinus100 {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

.transformTranslateYMinus100 {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

// transitions

.transition_07s {
	-webkit-transition: 0.70s;
	-moz-transition: 0.70s;
	-ms-transition: 0.70s;
	-o-transition: 0.70s;
	transition: 0.70s;
}