
/* box WE  */

//#text-fx {
//	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
//	font-size: 32px;
//	line-height: 48px;
//}

@keyframes animateOpacity {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

#text-fx .para {
	position: relative;
}

.items__layerbibi .items__item {
	position: absolute;
	display: block;
	left: 10px;
	top: 300px;
	width: 192px;
	height: 352px;
	background: url("../img/Biayna.png") 0 0 no-repeat;
	.info {
		display: block;
		opacity: 0;
		visibility: hidden;
		right: -125px;
		bottom: -4px;
	}
	&:hover {
		.info {
			-webkit-transition: opacity 2s;
			transition: opacity 2s;
			visibility: visible;
			opacity: 1;
		}
	}
}

.items__layerbuni .items__item {
	position: absolute;
	display: block;
	top: -40px;
	left: -120px;
	width: 182px;
	height: 427px;
	background: url("../img/Erebouni.png") 0 0 no-repeat;

	.info {
		display: block;
		opacity: 0;
		visibility: hidden;
		left: 0;
		bottom: -92px;
	}
	&:hover {
		.info {
			-webkit-transition: opacity 2s;
			transition: opacity 2s;
			visibility: visible;
			opacity: 1;
		}
	}
}

.items__layergiamp .items__item {
	position: absolute;
	display: block;
	top: 130px;
	left: 770px;
	width: 131px;
	height: 431px;
	background: url("../img/Giampiero.png") 0 0 no-repeat;
	.info {
		display: block;
		opacity: 0;
		visibility: hidden;
		left: -80px;
		bottom: 10px;
		text-align: right !important;
	}
	&:hover {
		.info {
			-webkit-transition: opacity 2s;
			transition: opacity 2s;
			visibility: visible;
			opacity: 1;
		}
	}
}
#we {
	.info {
		position: absolute;
		z-index: 1;
		text-align: left;
		h3 {
			font-size: 14px;
			@extend .fontMavenPro;
			color: $color1;
			font-weight: bold;
			line-height: 1.286;
			margin-bottom: 8px;
		}
		h4 {
			font-size: $fszTiny;
			@extend .fontMontserrat;
			color: $color1;
			line-height: 2;
		}
	}
	.items__layerD .items__item {
		margin-top: -430px;
		margin-left: 110px;
	}
	.items__layerK .items__item {
		margin-top: 400px;
		margin-left: 1820px;
	}
}

.items__Text .items__item {
	position: absolute;
	display: block;
	left: 180px;
	top: 0;
	width: 500px;
	height: 450px;
}
.para {
	font-size: $fszBase;
	letter-spacing: 0.9px;
	@extend .fontMavenPro;
	font-weight: bold;
	line-height: 1.385;
	text-align: left;
	margin-bottom: 20px;
	color: $color1;
	&.english {
		color: $color1;
	}
	&.german {
		color: $colorGerman;
	}
}
.cj-fx-text {
	font-size: $fszBase;
	//letter-spacing: 0.9px;
	letter-spacing: 0.9px;
	@extend .fontMavenPro;
	font-weight: bold;
	line-height: 1.385;
	text-align: left;
	//margin-bottom: 20px;
	color: $color1;
	//display: none;
}
.cj-fx {
	width: 100% !important;
	line-height: 1.285;
	&.margin {
		margin-bottom: 20px;
	}
}

.english {
	display: block;
	width: 100%;
	.cj-fx {
		.cj-fx-text {
			color: $color1;
		}
	}
}

.german {
	display: block;
	width: 100%;
	.cj-fx {
		.cj-fx-text {
			color: $colorGerman;
		}
	}
}

