
/* box WE  */

//#text-fx {
//	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
//	font-size: 32px;
//	line-height: 48px;
//}

#text-fx .para {
	position: relative;
}

.items__layerbibi .items__item {
	position: absolute;
	display: block;
	left: 10px;
	top: 300px;
	width: 192px;
	height: 352px;
	background: url("../img/Biayna.png") 0 0 no-repeat;
	.info {
		display: none;
		right: -125px;
		bottom: -4px;
	}
	&:hover {
		.info {
			display: block;
		}
	}
}

.items__layerbuni .items__item {
	position: absolute;
	display: block;
	top: -40px;
	left: -120px;
	width: 182px;
	height: 427px;
	background: url("../img/Erebouni.png") 0 0 no-repeat;

	.info {
		display: none;
		left: 0;
		bottom: -92px;
	}
	&:hover {
		.info {
			display: block;
		}
	}
}

.items__layergiamp .items__item {
	position: absolute;
	display: block;
	top: 130px;
	left: 770px;
	width: 131px;
	height: 431px;
	background: url("../img/Giampiero.png") 0 0 no-repeat;
	.info {
		display: none;
		left: -80px;
		bottom: 10px;
		text-align: right !important;
	}
	&:hover {
		.info {
			display: block;
		}
	}
}
#we {
	.info {
		position: absolute;
		z-index: 1;
		text-align: left;
		h3 {
			font-size: 14px;
			font-family: "MavenPro", Arial, Helvetica, sans-serif ;
			color: rgb(145, 121, 64);
			font-weight: bold;
			line-height: 1.286;
			margin-bottom: 8px;
		}
		h4 {
			font-size: 9px;
			font-family: "Montserrat", Verdana, Geneva, sans-serif;
			color: rgb(145, 121, 64);
			line-height: 2;
		}
	}
	.items__layerD .items__item {
		margin-top: -430px;
		margin-left: 110px;
	}
	.items__layerK .items__item {
		margin-top: 400px;
		margin-left: 1820px;
	}
}

.items__Text .items__item {
	position: absolute;
	display: block;
	left: 180px;
	top: 0;
	width: 500px;
	height: 450px;
}
.para {
	font-size: 14px;
	letter-spacing: 0.9px;
	font-family: "MavenPro", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.385;
	text-align: left;
	margin-bottom: 20px;
	color: #917940;
	&.english {
		color: #917940;
	}
	&.german {
		color: #c2ab78;
	}
}

