$colorGold: #bc946a;
$colorMainBG: #f9f9f9;
$colorThumbDescription: #BD9563;


.boxShadowOne {
	-moz-box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
	box-shadow: 0 32px 40px -20px rgba(0, 0, 0, 0.25);
}

.boxShadowTwo {
	-moz-box-shadow: 0 3px 38px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 38px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 38px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}

.dataTop {
	top: -26px;
	right: 0;
	left: auto;
	bottom: auto;
}
.dataTopTwo {
	top: -38px;
	right: 0;
	left: auto;
	bottom: auto;
}
.dataBottom {
	bottom: -26px;
	left: 0;
	right: auto;
	top: auto;
}
.dataBottomTwo {
	bottom: -38px;
	left: 0;
	right: auto;
	top: auto;
}

.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.items__inner {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.items__layer {
	.items__item {
		position: absolute;
		top: 0;
		left: 0;
		@extend .boxShadowOne;
		background-color: $colorMainBG;
		&:after {
			content: attr(data-title);
			@extend .dataBottom;
			position: absolute;
			font-size: 9px;
			font-family: "Montserrat", Verdana, Geneva, sans-serif;
			font-weight: bold;
			line-height: 1.5;
			color: $colorThumbDescription;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			-webkit-transition: all .5s ease;
			transition: all .5s ease;
			visibility: hidden;
			opacity: 0;
			-moz-transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
			-webkit-transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
			-ms-transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
			transform: matrix( 1,-7.48925149681265e-17,0,0.99798835527112,0,0);
		}

		&:hover:after {
			visibility: visible;
			opacity: 1;
		}
	}
	.a-link {
		display: block;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&.picsart {
		.items__item {
			left: -50px;
			top: 0px;
			width: 175px;
			height: 137px;
		}
	}

	&.awards {
		.items__item {
			left: 197px;
			top: -41px;
			width: 221px;
			height: 174px;
		}
	}

	&.uae {
		.items__item {
			left: 482px;
			top: -34px;
			width: 182px;
			height: 146px;
			&:after {
				@extend .dataBottomTwo;
			}
		}
	}

	&.globalance {
		.items__item {
			left: 711px;
			top: 23px;
			width: 179px;
			height: 142px;
		}
	}
	&.loft {
		.items__item {
			left: -93px;
			top: 183px;
			width: 180px;
			height: 244px;
		}
	}

	&.pen {
		.items__item {
			left: 151px;
			top: 200px;
			width: 179px;
			height: 141px;
		}
	}

	&.zds {
		.items__item {
			left: 412px;
			top: 172px;
			width: 219px;
			height: 171px;
		}
	}

	&.boombomik {
		.items__item {
			left: 705px;
			top: 250px;
			width: 180px;
			height: 142px;
		}
	}

	&.hugoboss {
		.items__item {
			left: 1px;
			top: 467px;
			width: 179px;
			height: 141px;
		}
	}

	&.nike {
		.items__item {
			left: 241px;
			top: 397px;
			width: 179px;
			height: 140px;
		}
	}

	&.bauhaus {
		.items__item {
			left: 479px;
			top: 424px;
			width: 176px;
			height: 238px;
		}
	}

	&.meybod {
		.items__item {
			left: 724px;
			top: 461px;
			width: 178px;
			height: 141px;
		}
	}
}

//awwwards : 221 174 +
//bauhaus : 183 248 +
//boombomik : 180 142 +
//globalance: 179 142 +
//hugoboss: 179 141 +
//loft : 180 244 +
//meybod: 178 141 +
//nike: 179 140 +
//pen: 179 141 +
//picsart: 175 137 +
//uae: 184 147 +
//zdzdental : 221 174 +