
/*CONTATTI*/

.underline {
	height: 1px;
	border: none;
	width: 146px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin-left: -700px;
}

.munich-overlay, .milan-overlay {
	display: block;
	position: absolute;
	left: -200px;
	right: -200px;
	border: 800px solid $colorMainBG;
	border-radius: 800px;
	background-color: transparent;
	z-index: 1;
}

.munich-overlay {
	top: -285.5px !important;
	bottom: -285.5px !important;
}

.milan-overlay {
	top: -156.5px !important;
	bottom: -156.5px !important;
}


#contatti {
	.contatti {
		width: 100%;
		height: 100%;
		position: absolute;
		margin-top: -80px;
		top: 50%;
		left: 50%;
	}
	* {
		box-sizing: border-box;
	}
}

.img-munich {
	width: 712px;
	height: 541px;
	left: -660px;
	position: absolute;
	background: url(../img/img-munich.png) no-repeat;
	top: -53px;
	z-index: -1;
	.underline {
		left: 227px;
		top: 117px;
		bottom: unset;
		margin-left: 0;
		background-color: $color8;
		height: 1px;
		width: 0;
	}

	.munichText {
		font-size: 11px;
		font-family: "Montserrat", Verdana, Geneva, sans-serif;
		color: $color10;
		font-weight: bold;
		line-height: 1.786;
		//-moz-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
		//-webkit-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
		//-ms-transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
		//transform: matrix( 1.09065070255233,0,0,1.08287283878954,0,0);
		letter-spacing: 6px;
		padding-left: 10px;
		width: 0;
		overflow: hidden;
		display: inline-block;
		vertical-align: bottom;
	}
}

.img-milan {
	width: 523px;
	height: 616px;
	left: 100px;
	position: absolute;
	background: url(../img/img-milan.png) no-repeat;
	top: -213px;
	z-index: -1;
	.underline {
		left: 170px;
		top: 357px;
		bottom: unset;
		margin-left: 0;
		background-color: $color8;
		height: 1px;
		width: 0;
	}

	.milanText {
		font-size: 10px;
		@extend .fontMontserrat;
		@extend .transformMatrixOne;
		color: $color10;
		font-weight: bold;
		line-height: 1.786;
		letter-spacing: 6px;
		padding-left: 10px;
		width: 0;
		overflow: hidden;
		display: inline-block;
		vertical-align: bottom;
	}
}


.contactUs {
	font-size: 11px;
	@extend .fontMontserrat;
	color: $color11;
	line-height: 1.624;
	font-weight: 700;
	.contact {
		display: block;
		margin-bottom: 13px;
		width: 0;
		overflow: hidden;
	}
}

.letsTalk {
	font-size: $fszLarge;
	@extend .fontMontserrat;
	color: $color13;
	font-weight: bold;
	line-height: 2.308;
	letter-spacing: 5px;
	width: 0;
	overflow: hidden;
}

.everywhereWrapper {
	position: absolute;
	bottom: 0;
	//right: 112px;
	left: 627px;
	text-align: right;
	width: 260px;
	.everywhere {
		@extend .fontMontserrat;
		font-size: $fszMiddle;
		color: $color12;
		text-transform: uppercase;
		line-height: 1.5;
		font-weight: 700;
		letter-spacing: 5.6px;
		margin-bottom: 10px;
		margin-right: -5px;
		width: 0;
		display: block;
		overflow: hidden;
		padding-left: 36px;
	}
	.emailWrapper, .developed {
		width: 0;
		display: block;
		overflow: hidden;
	}
	.emailWrapper {
		margin-bottom: 9px;
		padding-left: 36px;
	}
	.sayHello {
		font-size: $fszMiddle;
		@extend .fontMontserrat;
		color: $color11;
		line-height: 1.5;
		text-align: right;
		font-weight: 700;
	}
	.email {
		color: $color10;
		font-size: $fszMiddle;
		@extend .fontMontserrat;
		line-height: 1.5;
		text-align: right;
		font-weight: 700;
	}
	.developed {
		font-size: $fszMiddle;
		@extend .fontMontserrat;
		color: $color11;
		line-height: 1.5;
		font-weight: 700;
	}
}

#munich {
	display: inline-block;
	margin-left: 182px;
	margin-top: 40px;
}

#milan {
	display: inline-block;
	margin-left: 150px;
	margin-top: 280px;
}

.socials {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0;
	li {
		display: inline-block;
		vertical-align: bottom;
		& + li {
			margin-left: 36px;
		}
		a {
			display: block;
			width: 17px;
			height: 17px;
			text-decoration: none;
			visibility: hidden;
			opacity: 0;
			&.facebook {
				background: url("../img/facebook.png") center center no-repeat;
				background-size: auto 100%;
			}
			&.instagram {
				background: url("../img/instagram.png") center center no-repeat;
				background-size: auto 100%;
			}
			&.linkedin {
				background: url("../img/linkedin.png") center center no-repeat;
				background-size: auto 100%;
			}
		}
	}
	.leftVLine {
		width: 0;
		height: 0;
		//height: 50px;
		border-left: 1px solid $color8;
		//border-right: 1px solid #c1b3aa;
	}
}

#contatti.animate {
	.socials {
		li {
			a {
				-webkit-animation: visibilityOpacity 1s linear;
				-moz-animation: visibilityOpacity 1s linear;
				animation: visibilityOpacity 1s linear;
				animation-delay: 3s;
				animation-fill-mode: forwards;
				&.instagram {

				}
				&.linkedin {
					animation-delay: 4s;
				}
			}
		}
		.leftVLine {
			-webkit-animation: leftLineAnimation 1s linear;
			-moz-animation: leftLineAnimation 1s linear;
			animation: leftLineAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.img-munich {
		.underline {
			-webkit-animation: bottomLineAnimationMunich 1s linear;
			-moz-animation: bottomLineAnimationMunich 1s linear;
			animation: bottomLineAnimationMunich 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		svg {
			-webkit-animation: everywhereAnimation 1s linear;
			-moz-animation: everywhereAnimation 1s linear;
			animation: everywhereAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		.munichText {
			-webkit-animation: milanMunichAnimation 2s linear;
			-moz-animation: milanMunichAnimation 2s linear;
			animation: milanMunichAnimation 2s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.img-milan {
		.underline {
			-webkit-animation: bottomLineAnimationMilan 1s linear;
			-moz-animation: bottomLineAnimationMilan 1s linear;
			animation: bottomLineAnimationMilan 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		svg {
			-webkit-animation: everywhereAnimation 1s linear;
			-moz-animation: everywhereAnimation 1s linear;
			animation: everywhereAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		.milanText {
			-webkit-animation: milanMunichAnimation 2s linear;
			-moz-animation: milanMunichAnimation 2s linear;
			animation: milanMunichAnimation 2s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.everywhereWrapper {
		.everywhere, .emailWrapper, .developed {
			-webkit-animation: everywhereAnimation 2.5s linear;
			-moz-animation: everywhereAnimation 2.5s linear;
			animation: everywhereAnimation 2.5s linear;
			animation-fill-mode: forwards;
		}
		.everywhere {
			animation-delay: 3s;
		}
		.emailWrapper {
			animation-delay: 5.5s;
		}
		.developed {
			animation-delay: 8.0s;
		}
	}
	.contactUs {
		.contact {
			-webkit-animation: everywhereAnimation 1s linear;
			-moz-animation: everywhereAnimation 1s linear;
			animation: everywhereAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}

	.letsTalk {
		-webkit-animation: everywhereAnimation 1s linear;
		-moz-animation: everywhereAnimation 1s linear;
		animation: everywhereAnimation 1s linear;
		animation-delay: 4s;
		animation-fill-mode: forwards;
	}

}

@keyframes leftLineAnimation {
	0% {
		height: 0;
	}
	100% {
		height: 50px;
	}
}


@keyframes bottomLineAnimationMunich {
	0% {
		width: 0;
	}
	100% {
		width: 100px;
	}
}
@keyframes bottomLineAnimationMilan {
	0% {
		width: 0;
	}
	100% {
		width: 100px;
	}
}

@keyframes everywhereAnimation {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes milanMunichAnimation {
	0% {
		width: 0;
	}
	100% {
		width: 80px;
	}
}

@keyframes visibilityOpacity {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@media (orientation: landscape) and (max-width: 1024px) {
	.img-munich {
		left: -480px;
	}
	.socials {
		left: 25px;
	}
	.contactUs {
		position: absolute;
		top: 20px;
		left: 90px;
	}
}


@media (orientation: portrait) and (max-width: 768px) {
	.img-munich {
		left: -430px;
	}
	.img-milan {
		left: auto;
		right: 250px;
		top: -210px;
	}

	.contactUs {
		position: absolute;
		top: 150px;
		left: 20px;
		.contact {
			margin-bottom: 8px;
		}
	}
	.socials {
		left: 20px;
		bottom: 60px;
		li + li {
			margin-left: 15px;
		}
	}
	.everywhereWrapper {
		left: auto;
		bottom: 55px;
		right: 20px;
	}

}


@media (orientation: portrait) and (max-width: 600px) {
	.img-munich {
		left: -430px;
	}
	.img-milan {
		left: auto;
		right: 100px;
		top: -210px;
	}

	.contactUs {
		top: 120px;
	}

}

@media (orientation: portrait) and (max-width: 480px) {
	.img-munich {
		top: -100px;
		left: -330px;
	}
	.img-milan {
		right: 0px;
		top: -110px;
	}
	.everywhereWrapper {
		right: 15px;
	}
	.socials {
		left: 15px;
		li + li {
			margin-left: 10px;
		}
	}
}
