
/*CONTATTI*/

#contatti {
	top: 0;
	left: -250px;
	.contatti {
		width: 100%;
		height: 100%;
		position: absolute;
		margin-top: -80px;
		top: 50%;
		left: 50%;
	}
}
//
//.munich {
//	text-align: center;
//	font-family: 'Maven Pro', sans-serif;
//	font-size: 23px;
//	font-weight: 700;
//	color: #bd9663;
//	//margin-top: 210px;
//	//margin-left: -700px;
//	line-height: 18px;
//	letter-spacing: 9px;
//	z-index: 200;
//}
//
//.milan {
//	text-align: center;
//	font-family: 'Maven Pro', sans-serif;
//	font-size: 23px;
//	font-weight: 700;
//	color: #bd9663;
//	//margin-top: 130px;
//	//margin-left: 500px;
//	line-height: 18px;
//	letter-spacing: 9px;
//	z-index: 200;
//}

.img-munich {
	width: 712px;
	height: 541px;
	margin-left: -660px;
	position: absolute;
	background: url(../img/img-munich.png) no-repeat;
	margin-top: -53px;
	z-index: -1;
	.underline {
		left: 227px;
		top: 117px;
		bottom: unset;
		margin-left: 0;
		background-color: #ac998c;
		height: 1px;
		width: 0;
	}
}

.img-milan {
	width: 523px;
	height: 616px;
	margin-left: 100px;
	position: absolute;
	background: url(../img/img-milan.png) no-repeat;
	margin-top: -213px;
	z-index: -1;
	.underline {
		left: 165px;
		top: 357px;
		bottom: unset;
		margin-left: 0;
		background-color: #ac998c;
		height: 1px;
		width: 0;
	}
}


.contactUs {
	font-size: 11px;
	font-family: "Montserrat", sans-serif;
	color: rgb(202, 180, 129);
	line-height: 1.624;
	font-weight: 700;
	//margin-top: 80px;
	//margin-left: 50px;
	.contact {
		display: block;
		margin-bottom: 13px;
	}
}


.letsTalk {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	color: rgb(185, 162, 121);
	font-weight: bold;
	line-height: 2.308;
	letter-spacing: 5px;
}

.everywhereWrapper {
	position: absolute;
	bottom: 0;
	right: 112px;
	text-align: right;
	.everywhere {
		text-align: right;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: rgb(196, 171, 114);
		text-transform: uppercase;
		line-height: 1.5;
		font-weight: 700;
		letter-spacing: 5px;
		margin-bottom: 10px;
		margin-right: -5px;
	}
	.sayHello {
		font-size: 12px;
		font-family: "Montserrat", sans-serif;
		color: rgb(202, 180, 129);
		line-height: 1.5;
		text-align: right;
		font-weight: 700;
	}
	.email {
		color: #816a5c;
		font-size: 12px;
		font-family: "Montserrat", sans-serif;
		line-height: 1.5;
		text-align: right;
		font-weight: 700;
	}
}

#munich {
	display: inline-block;
	margin-left: 182px;
	margin-top: 40px;
}

#milan {
	display: inline-block;
	margin-left: 150px;
	margin-top: 280px;
}

.socials {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0;
	li {
		display: inline-block;
		vertical-align: bottom;
		& + li {
			margin-left: 36px;
		}
		a {
			display: block;
			width: 17px;
			height: 17px;
			text-decoration: none;
			&.facebook {
				background: url("../img/facebook.png") center center no-repeat;
				background-size: auto 100%;
			}
			&.instagram {
				background: url("../img/instagram.png") center center no-repeat;
				background-size: auto 100%;
			}
			&.linkedin {
				background: url("../img/linkedin.png") center center no-repeat;
				background-size: auto 100%;
			}
		}
	}
	.leftVLine {
		width: 0;
		height: 0;
		//height: 50px;
		border-left: 1px solid #bcaca2;
		border-right: 1px solid #c1b3aa;
	}
}

#contatti.animate {
	.socials {
		.leftVLine {
			-webkit-animation: leftLineAnimation 1s linear;
			-moz-animation: leftLineAnimation 1s linear;
			animation: leftLineAnimation 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.img-munich {
		.underline {
			-webkit-animation: bottomLineAnimationMunich 1s linear;
			-moz-animation: bottomLineAnimationMunich 1s linear;
			animation: bottomLineAnimationMunich 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
	.img-milan {
		.underline {
			-webkit-animation: bottomLineAnimationMilan 1s linear;
			-moz-animation: bottomLineAnimationMilan 1s linear;
			animation: bottomLineAnimationMilan 1s linear;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}


}

@keyframes leftLineAnimation {
	0% {
		height: 0;
	}
	100% {
		height: 50px;
	}
}


@keyframes bottomLineAnimationMunich {
	0% {
		width: 0;
	}
	100% {
		width: 89px;
	}
}

@keyframes bottomLineAnimationMilan {
	0% {
		width: 0;
	}
	100% {
		width: 100px;
	}
}